
[Unit]
Description=Orbit osquery
After=network.service syslog.service
StartLimitIntervalSec=0

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/default/orbit
ExecStart=/opt/orbit/bin/orbit/orbit
Restart=always
RestartSec=1
KillMode=control-group
KillSignal=SIGTERM
CPUQuota=20%
CPUWeight=20
IOWeight=20
MemorySwapMax=0
MemoryHigh=750M
MemoryMax=1G

[Install]
WantedBy=multi-user.target
